<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/nouser.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        title User Not Found !
    body
        div.header 
            h1 User Management System
            a(href="/searchUser" class='btn') Search Page
        
        div.container
            p #[span(style="color: red; font-family: 'Roboto Slab', serif; font-size: 2rem; font-weight: bold;") ERROR !!!]
            p.msg Their is no such user which is associated with the given mobile number...
            p.msg Please Search Again !