*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
}

.container{
    width: 80%;
    background-color: rgb(237, 248, 244);
    margin: 80px auto;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.342);
}


.head{
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Baloo Bhai 2', cursive; 
    font-weight: bold;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
}

.af, .ab{
    justify-content: center;
    margin: 30px 60px;
    width: 60%;
    height: 10%;
    text-align: center;
}

.aadharimg{
    display: flex;
    padding: 0 20px;
}

.aadharimg p{
    font-family: 'Baloo Bhai 2', cursive; 
    font-size: 1.2rem;
    font-weight: bold;
}

.details p, .driving p{
    font-family: 'Baloo Bhai 2', cursive;
    padding: 15px 90px;
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    font-weight: bold;
}

.field{
    /* font: weight 100; */
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
}

.driveHead{
    text-align: center;
}

.driving{
    display: flex;
    align-items: center;

}

.d2{
    width: 35%;
}

.home{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-family: 'Baloo Bhai 2', cursive;
    background-color: aquamarine;
    margin: 60px auto;
    width: 10%;
    text-align: center;
    padding: 10px 60px;
    border-radius: 30px;
    font-weight: bold;

}

.home:hover{
    transition-duration: 0.3s;
    background-color: rgb(38, 189, 136);
}