*{
    margin: 0;
    padding: 0;
}

h3, h2{
    font-family: 'Roboto Slab', serif;
}


.header{
    display: flex;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
}

.header h1{
    margin-left: 35%;
}

.btn{
    margin-left: auto;
    margin-right:15px;
    text-decoration: none;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;

}

.header a:hover{
    transition-duration: 0.3s;
    background-color: azure;
}


.duplicate{
    text-align: center;
    margin-top: 65px;
    color: rgb(231, 12, 12);
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.container{
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    background-color: rgb(218, 248, 238);
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.342);
}

.container input{
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;   
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    font-size: 1.4rem;
    padding: 8px 20px;
    width: 90%;
    margin: 40px 0 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: aquamarine;
}

.button:hover{
    transition-duration: 0.3s;
    background-color: rgb(84, 216, 172);
}